.footer {
  background-color: #0C5CA9;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  color: white;
}

.footer-content {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-top {
  max-width: 100%; 
  text-align: left;
  margin-bottom: 30px; 
}

.footer-top h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-top p {
  font-size: 14px;
  line-height: 1.6;
  color: white;
}

.icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.icon {
  font-size: 24px;
  color: white;
  transition: color 0.3s ease; 
}

.icon:hover {
  color: #ffcc00; 
}

table {
  width: 100%; 
  border-collapse: collapse;
  margin-bottom: 30px; 
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: none;
}

th {
  font-size: 18px;
  color: white;
}

td {
  font-size: 14px;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease; 
}

td:hover {
  color: #ffcc00; 
}


@media (min-width: 768px) {
  .footer-content {
    flex-direction: row; 
  }

  .footer-top {
    max-width: 400px; 
    margin-bottom: 0; 
  }

  table {
    width: 60%; 
    margin-bottom: 0; 
  }
}

@media (max-width: 480px) {
  .footer-top h1 {
    font-size: 20px; 
  }

  .footer-top p {
    font-size: 12px; 
  }

  .icon {
    font-size: 20px; 
  }

  th {
    font-size: 16px; 
  }

  td {
    font-size: 12px; 
  }
}